@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@attribute [Authorize]
@inject GraphServiceClient GraphClient

<h3>Graph Client Example</h3>

@if (teams != null)
{
    <h2>All Teams</h2>
    foreach (var team in teams)
    {
        <p>team: @team.DisplayName</p>
    }
}

@if (theteam != null)
{
    <h2>Selected Team</h2>
    <p><span>Selected Team Id:&nbsp;</span><b>@selected_team_index</b></p>
    <p>team: @theteam.DisplayName</p>
    <p>teamId: @theteam.Id</p>
}

@if (total_hours != null && total_hours > new TimeSpan())
{
    <p>You have worked <span id="totalhours">@FormatDuration(total_hours)</span> in total.</p>
}

@if (timecards != null)
{
    <h2>Timecards</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
        </tr>

        @foreach (var timecard in timecards)
        {
            <tr>
                <td>@timecard.Id</td>
                <td>@timecard.ClockInEvent.DateTime</td>
                <td>@timecard.ClockOutEvent.DateTime</td>
                <td>@(FormatDuration(timecard.ClockOutEvent.DateTime-timecard.ClockInEvent.DateTime))</td>
            </tr>
        }
    </table>
}

@code {
    private string FormatDuration(TimeSpan? ts){
        if (ts == null)
            return "??";
        var tss = (TimeSpan)ts;
        return String.Format("{0}:{1}", tss.Days * tss.Hours, tss.Minutes);
    }
    int selected_team_index = 0 ;
    private IUserJoinedTeamsCollectionWithReferencesPage? teams;
    private Team? theteam;
    private IScheduleTimeCardsCollectionPage? timecards;
    private TimeSpan total_hours;

    protected override async Task OnInitializedAsync()
    {
        var user = await GraphClient.Me
            .Request()
            .GetAsync();
        StateHasChanged();

        teams = await GraphClient.Me.JoinedTeams
            .Request()
            .GetAsync();
        StateHasChanged();

        theteam = teams[selected_team_index];
        StateHasChanged();

        timecards = await GraphClient.Teams[theteam.Id].Schedule.TimeCards
            .Request()
            .GetAsync();

        total_hours = new TimeSpan();
        foreach (var tc in timecards)
        {
            var hours = (tc.ClockOutEvent.DateTime - tc.ClockInEvent.DateTime)
                ?? (tc.ClockInEvent.DateTime - DateTime.Now)
                ?? new TimeSpan();
            total_hours += hours;
        }
    }
}
