@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@attribute [Authorize]
@inject GraphServiceClient GraphClient

<h3>Graph Client Example</h3>

@if (teams != null)
{
    <h2>All Teams</h2>
    foreach (var team in teams)
    {
        <p>team: @team.DisplayName</p>
    }
}

@if (theteam != null)
{
    <h2>Selected Team</h2>
    <p><span>Selected Team Id:&nbsp;</span><b>@selected_team_index</b></p>
    <p>team: @theteam.DisplayName</p>
    <p>teamId: @theteam.Id</p>
}

@if (timecards != null)
{
    <h2>Timecards</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
        </tr>

        @foreach (var timecard in timecards)
        {
            <tr>
                <td>@timecard.Id</td>
                <td>@timecard.ClockInEvent.DateTime</td>
                <td>@timecard.ClockOutEvent.DateTime</td>
                <td>@(timecard.ClockOutEvent.DateTime-timecard.ClockInEvent.DateTime)</td>
            </tr>
        }
    </table>
}

@code {
    int selected_team_index = 0 ;
    private IUserJoinedTeamsCollectionWithReferencesPage? teams;
    private Team? theteam;
    private IScheduleTimeCardsCollectionPage? timecards;

    protected override async Task OnInitializedAsync()
    {
        var user = await GraphClient.Me
            .Request()
            .GetAsync();
        StateHasChanged();

        teams = await GraphClient.Me.JoinedTeams
            .Request()
            .GetAsync();
        StateHasChanged();

        theteam = teams[selected_team_index];
        StateHasChanged();

        timecards = await GraphClient.Teams[theteam.Id].Schedule.TimeCards
            .Request()
            .GetAsync();
    }
}
