@page "/"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@using CurrieTechnologies.Razor.PageVisibility
@using static TimeCardDuration

@inject GraphServiceClient graphclient
@inject ClientSettings clientsettings
@inject NavigationManager nav
@inject PageVisibilityService visibility

<div class="container">
    <div class="row justify-content-end mb-3">
        <ClockInOut TeamId=@clientsettings.theteamid OnChangeState=@FetchAllTimecards/>
        <RadzenDatePicker DateRender=@DateRenderSundays
            TValue="DateTime" @bind-Value=@StartOfWeek
            DateFormat="yyyy-MM-dd"
            Class="col-md-2 m-1" />
    </div>
</div>
<h2 class="text-center">Timecard Total</h2>
<div class="d-flex flex-column justify-content-center mx-auto" style="max-width:fit-content">
    <HoursGauge TimeCards="@current_timecards" />
    <h6>Since <em>@clientsettings.statsstartdate:</em></h6>
    <div class="ms-3">
    <p class="m-0"> <small>Average: <em>@(average_weekly_hours_since(clientsettings.statsstartdate).TotalHours.ToString("F1")) hr/wk</em></small> </p>
    @{ var excess = excess_hours_banked(clientsettings.statsstartdate, new TimeSpan(clientsettings.targetweeklyhours, 0, 0)); }
    @if (excess > new TimeSpan(0))
    { <p class="m-0"><small>Excess Hours Banked: <em>@(FormatDuration(excess))</em></small></p>}
    else
    { <p class="m-0"><small>Behind by: <em>@(FormatDuration(-1 * excess))</em></small></p>}
    <p class="m-0 ms-4" style="color:rgb(93, 93, 93)"><small>@@@clientsettings.targetweeklyhours hr/wk</small></p>
    </div>
</div>

<RadzenCard class="w-100 mt-3 p-3">
    <RadzenPanel Collapsed="true" AllowCollapse="true">
        <HeaderTemplate>
            <h2>Technical Details</h2>
        </HeaderTemplate>
        <ChildContent>
            @if (current_timecards != null)
            {
                <h2>Timecards</h2>
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Hours</th>
                    </tr>

                    @foreach (var timecard in current_timecards)
                    {
                        <tr>
                            <td>@timecard.Id</td>
                            <td>@timecard.ClockInEvent.DateTime</td>
                            <td>@(timecard.ClockOutEvent != null ? timecard.ClockOutEvent.DateTime : "~")</td>
                            <td>@(FormatDuration(HoursFromTimeCard(timecard)))</td>
                        </tr>
                    }
                </table>
            }
        </ChildContent>
        <SummaryTemplate>
            @if (clientsettings.theteamid != null)
            {
                <p> All Timecards: <b>@(all_timecards?.Count ?? 0)</b></p>
                <p> Current Timecards: <b>@(current_timecards?.Count ?? 0)</b></p>
            }
        </SummaryTemplate>
    </RadzenPanel>
</RadzenCard>

@code {
    private IScheduleTimeCardsCollectionPage? timecards;

    public DateTime StartOfWeek = DateTime.Today.AddDays(-1 * (7 + (DateTime.Today.DayOfWeek - System.DayOfWeek.Sunday)) % 7).Date;

    private List<TimeCard>? all_timecards = null;
    private List<TimeCard>? current_timecards =>
        all_timecards?.Where(
            x => (x.ClockInEvent.DateTime >= StartOfWeek)
            && (x.ClockInEvent.DateTime <= StartOfWeek.AddDays(7))
            ).ToList(); // todo: handle case where timecard spans midnight at end of week

    private TimeSpan average_weekly_hours_since(DateOnly start)
    {
        var start_dt = start.ToDateTime(TimeOnly.MinValue);
        start_dt = start_dt.AddDays(-1 * (7 + (start_dt.DayOfWeek - System.DayOfWeek.Sunday)) % 7).Date;
        var weeks_since_start_week = 1+((StartOfWeek - start_dt).TotalDays / 7);
        var timecards_since_start_week = all_timecards?.Where(
            x => (x.ClockInEvent.DateTime >= start_dt)
            && (x.ClockInEvent.DateTime <= StartOfWeek.AddDays(7))
            ).ToList();
        TimeSpan hours_since_start_week = TotalTimespan(timecards_since_start_week) ?? new TimeSpan();
        return hours_since_start_week / weeks_since_start_week;
    }
    private TimeSpan excess_hours_banked(DateOnly start_do, TimeSpan target_weekly_hours)
    {
        var start = start_do.ToDateTime(TimeOnly.MinValue);
        start = start.AddDays(-1 * (7 + (start.DayOfWeek - System.DayOfWeek.Sunday)) % 7).Date;
        var weeks_since_start_week = 1+((StartOfWeek - start).TotalDays / 7);

        var target_hours = weeks_since_start_week * target_weekly_hours;
        var actual_hours = weeks_since_start_week * average_weekly_hours_since(DateOnly.FromDateTime(start));
        return actual_hours - target_hours;
    }

    void DateRenderSundays(DateRenderEventArgs args)
    {
        args.Disabled = args.Date.DayOfWeek != System.DayOfWeek.Sunday;
    }

    Timer? update_timecards;
    Timer? update_timecards_if_vis;
    protected override async Task OnInitializedAsync()
    {
        if (clientsettings.theteamid == null)
        {
            Console.WriteLine("No team selected, redirecting to settings");
            nav.NavigateTo("settings");
            return; // or else code below will still run
        }

        // This updates timecards on a longer interval
        update_timecards = new Timer(async _ => await FetchAllTimecards(), null, TimeSpan.Zero, TimeSpan.FromMinutes(98));
        update_timecards_if_vis = new Timer(async _ => await visibility.RunIfVisibleAsync(FetchAllTimecards), null, TimeSpan.Zero, TimeSpan.FromMinutes(24));

        // This updates timecards when the page becomes visible
        await visibility.OnVisibilityChangeAsync(async _ => await FetchAllTimecards(), this);
    }

    private bool _fetching_alltimecards = false;
    private async Task FetchAllTimecards()
    {
        if (_fetching_alltimecards)
            return;
        try
        {
            _fetching_alltimecards = true;
            await _FetchAllTimecardsInner();
        }
        finally
        {
            _fetching_alltimecards = false;
        }
    }
    private async Task _FetchAllTimecardsInner()
    {
        Console.WriteLine("Fetching all timecards");
        timecards = await graphclient.Teams[clientsettings.theteamid].Schedule.TimeCards
            .Request()
            @* None of these query options currently work in the beta API *@
            @* .Filter(@"clockinEvent/dateTime ge '2022-11-22'") *@
            @* .OrderBy("clockInEvent/dateTime") *@
            .Top(900)
            .GetAsync();
        var my_timecards = new List<TimeCard>();
        while (timecards != null)
        {
            my_timecards.AddRange(timecards);
            if (timecards.NextPageRequest != null)
                timecards = await timecards.NextPageRequest.GetAsync();
            else
                timecards = null;
        }
        all_timecards = my_timecards;
        StateHasChanged();
    }
}
